<section>
    <div class="container about">
    <!-- Hidden TITLE -->
    <h2 class="visually-hidden">about me</h2>

    <!-- My slogan and avatar -->
    <div class="slogan-avatar">
      <h3 class="about-slogan">
        I work with people all over the world to create impressive and
        <span class="slogan-red">functional</span>
        <span class="slogan-grey">websites</span> that reflect each client's
        unique personality.
      </h3>
      <picture>
        <source
          srcset="/img/aboutme/mobile1x.jpg 1x, /img/aboutme/mobile2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="/img/aboutme/tablet1x.jpg 1x, /img/aboutme/tablet2x.jpg 2x"
          media="(max-width: 1439px)"
        />
        <source
          srcset="
            /img/aboutme/desktop1x.jpg 1x,
            /img/aboutme/desktop2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          src="/img/aboutme/mobile1x.jpg"
          alt="My photo"
          width="343"
          height="500"
          class="about-avatar"
        />
      </picture>
    </div>

  <div class="aboutme-swiper">
    <div>
        <ul class="circles">
            <li class="aboutme-circle"><p class="aboutme-skill">HTML/CSS</p></li>
            <li class="aboutme-circle"><p class="aboutme-skill">JavaScript</p></li>
            <li class="aboutme-circle"><p class="aboutme-skill">React</p></li>
            <li class="aboutme-circle"><p class="aboutme-skill">Node.js</p></li>
            <li class="aboutme-circle"><p class="aboutme-skill">React Native</p></li>
            <li class="aboutme-circle"><p class="aboutme-skill">Soft skills</p></li>
        </ul>
    </div>
    <div class="custom-swiper-next">
        <svg width="40" height="40">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
    </div>
</div>

    </div>
    </div>
</section>