<section class="intro">
    <div class="intro-text  container">
        <h1 class="visually-hidden">About Me</h1>
        <p class="text">
            I work with people all over the world to create impressive and <span class="highlight">functional</span> 
            <span class="highlight-web">websites</span> that reflect each client's unique personality.
        </p>
    </div>
    <div class="intro-image">
        <img
      srcset="../img/aboutme/imagem.png 1x,
              /img/aboutme/imagem2x.png 2x"
      src="../img/aboutme/imagem.png"
      alt="men"
      width="343"
      height="500"
      class="img-mob"
    />
    <img
      srcset="../img/aboutme/imaget.png 1x,
           /img/aboutme/imaget2x.png 2x"
      src="../img/aboutme/imaget.png"
      alt="men"
      width="680"
      height="700"
      class="img-tab"
    />
    <img
      srcset="../img/aboutme/imaged.png 1x,
            /img/aboutme/imaged2x.png 2x"
      src="../img/aboutme/imaged.png"
      alt="men"
      width="680"
      height="700"
      class="img-desk"
    />
    </div>
</section>


<section class="accordion  container">
    <ul>
    <li class="accordion-item">
        <h2 class="accordion-header text-header">ABOUT ME
            <button class="accordion-toggle">
                <span class="accordion-icon">v</span>
            </button>
        </h2>
        <div class="accordion-content">
            <p class="about-content">
                I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. 
                I have an understanding of different programming languages and technologies, always ready to improve my skills. 
                I always follow the latest trends and look for unconventional, creative solutions to problems.
                I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.
</p>

             <p class="about-content">   Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions.
                Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.
                I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. 
                I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
            </p>
        </div>
    </li>
        <li class="accordion-item">
            <h2 class="accordion-header text-header">ROLE
                <button class="accordion-toggle">
                    <span class="accordion-icon">v</span>
                </button>
            </h2>
            <div class="accordion-content">
                <p class="about-content">Frontend development
                    HeadlessCMS,Wordpress
                    Blender(enjoy)</p>
            </div>
        </li>
        <li class="accordion-item">
            <h2 class="accordion-header text-header">EDUCATION
                <button class="accordion-toggle">
                    <span class="accordion-icon">v</span>
                </button>
            </h2>
            <div class="accordion-content">
                <p class="about-content">
                    2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York
                    2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
                    2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
            </div>
        </li>
    </ul>
</section>

<section class="skills container">
    <div class="swiper-container skills-sld">
        <div class="swiper-wrapper">
            <div class="swiper-slides"><span class="span-swiper">HTML/CSS</span></div>
            <div class="swiper-slides"><span class="span-swiper">JavaScript</span></div>
            <div class="swiper-slides"><span class="span-swiper">React</span></div>
            <div class="swiper-slides"><span class="span-swiper">Node.js</span></div>
           <div class="swiper-slides"><span class="span-swiper">Soft skills</span></div>
           <button class="swiper-btn-next"><span class="arrow">-></span></button>
        </div>
    </div>
</section>