<section class="section-covers" id="COVERS">
  <div class="container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <ul class="slides-container">
          <li class="sliding-row">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
        </li>
       <li class="sliding-row row-reversed">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
        </li>
         <li class="sliding-row">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
        </li>
        <li class="sliding-row row-reversed">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
        </li>
         <li class="sliding-row">
            <img class="covers-img" src="/img/covers/rectangle1-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle2-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle3-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle4-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle5-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle6-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle7-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle8-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle9-img.jpg" alt="my project">
            <img class="covers-img" src="/img/covers/rectangle10-img.jpg" alt="my project">
        </li>
    </ul>
    </div>
</section>