<!--  <section>
      <div class="container">
        <div class="inner-container">
        <div class="top">
            <img src="https://t3.ftcdn.net/jpg/04/97/66/28/360_F_497662812_7rGW6PMBJR9AbrKcGgN5S1luXYTjH92i.jpg" alt=""
            class="logo-img">
            <h2>LET'S <span>WORK</span></h2>
            <h2>TOGETHER</h2>
        </div>
        <div class="middle">
            <form class="form-api">
                <input type="email">
                <input type="text">
                <button class="send-btn">Send</button>
            </form>
        </div>
        <div class="bottom">
            <a href="mailto:lloydjefferson@gmail.com"
            class="email-a"
          >lloydjefferson@gmail.com</a>
            <a href="tel:+3801111111111"
             class="phone-a"
          >+380 11 1111 11 11</a>
        </div>
        </div>
      </div>
      </section> -->