<header class="header-container">
    <div class="container">
      <div class="logo">
      <a href="index.html" class="header-logo">
        <img width="80" height="80" src="../img/hero+header/logo_1x.png" 
        srcset="../img/hero+header/logo_1x.png 1x, ../img/hero+header/logo_2x.png 2x" 
        alt="Lloyd Jefferson" class="header-logo-img"></a>
        <svg width="84" height="19" class="header-logo-icon">
            <use  xlink:href="../img/hero+header/symbol-defs.svg#icon-jefferson"></use>
                </svg>
  
    </div>
      <div class="header-menu">
        <div class="menu-item">
          <p class="menu-text">Menu</p>
        </div>
        <nav class="nav-menu-wrap">
          <ul class="nav-list">
            <li class="nav-item">
                <a href="#aboutme" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
                <a href="#benefits" class="nav-link">Benefits</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link">Projects</a></li>
            </li>
            <li class="nav-item">
                <a href="#FAQ" class="nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <a href="#Footer" class="order-btn">Order the project</a>
      <div class="burger-menu">
        <svg class="burger-icon" width="28" height="28">
            <use xlink:href="../img/hero+header/symbol-defs.svg#icon-Icon"></use>
        </svg>
      </div>
    </div>
  </header>

<!--modal -->

<div class="header-modal">
    <div class="header-container-modal container">
      <svg class="modal-close-icon" width="28" height="28">
        <use xlink:href="../img/hero+header/symbol-defs.svg#icon-x"></use>
      </svg>
      <nav class="modal-nav">
        <ul class="modal-list">
          <li class="modal-item">
            <a href="#aboutme" class="modal-link">About me</a>
          </li>
          <li class="modal-item">
            <a href="#benefits" class="modal-link">Benefits</a>
          </li>
          <li class="modal-item">
            <a href="#projects" class="modal-link">Projects</a>
          </li>
          <li class="modal-item">
            <a href="#fag" class="modal-link">FAQ</a>
          </li>
        </ul>
      </nav>

      <a href="#Footer" class="order-btn-modal">Order the project</a>

    </div>
  </div>