<section id="HERO" class="hero-background">
    <div class="container hero-container">
        <div>
            <h1 class="hero-title">Hello.<br> I’m Fullstack developer Lloyd Jefferson.</h1>
        </div>
        <div class="hero-link">
            <ul class="soc-link">
                <li class="soc-link-item"><a href="https://www.instagram.com/goitclub/" target="_blank"
                        rel="noopener noreferrer">IG
                    </a></li>
                <li class="soc-link-item"><a href="https://www.facebook.com/goITclub/" target="_blank"
                        rel="noopener noreferrer">
                        FB</a></li>
                <li class="soc-link-item"><a href="https://www.youtube.com/c/GoIT" target="_blank"
                        rel="noopener noreferrer">
                        YT</a>
                </li>
                <li class="soc-link-item"><a href="https://github.com/Mykkolas/project-tryzub" target="_blank"
                        rel="noopener noreferrer">
                        GH</a>
                </li>
                <li class="soc-link-email"><a href="mailto:lloydjefferson@gmail.com"
                        target="_blank" rel="noopener noreferrer">
                        lloydjefferson@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>