<section id="#hero" class="container hero-container">
        <div class="hero-background">
            <div class="hero-title">
                <h1>Hello.<br> I’m Fullstack developer Lloyd Jefferson.</h1>
            </div>
            <div class="hero-link">
                <ul class="soc-link">
                    <li class="soc-link-item"><a href="https://www.instagram.com/goitclub/" target="_blank"
                            rel="noopener noreferrer">
                            <svg width="37" height="37" class="soc-icon">
                                <use  xlink:href="../img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                    <li class="soc-link-item"><a href="https://www.facebook.com/goITclub/" target="_blank"
                            rel="noopener noreferrer">
                            <svg width="37" height="37" class="soc-icon">
                                <use  xlink:href="../img/symbol-defs.svg#icon-facebook"></use>
                            </svg></a></li>
                    <li class="soc-link-item"><a href="https://www.youtube.com/c/GoIT" target="_blank"
                            rel="noopener noreferrer">
                            <svg width="37" height="37" class="soc-icon">
                                <use  xlink:href="../img/symbol-defs.svg#icon-youtube"></use>
                            </svg></a>
                    </li>
                    <li class="soc-link-item"><a href="https://github.com/Mykkolas/project-tryzub" target="_blank"
                            rel="noopener noreferrer">
                            <svg width="37" height="37" class="soc-icon">
                                <use  xlink:href="../img/symbol-defs.svg#icon-githab"></use>
                            </svg></a>
                    </li>
                    <li class="soc-link-item"><a href="mailto:lloydjefferson@gmail.com"
                            target="_blank" rel="noopener noreferrer">
                            <svg width="178" height="37" class="soc-icon soc-email">
                                <use  xlink:href="../img/symbol-defs.svg#icon-email"></use>
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>