<section>
  <div class="container">
    <div class="projects-container">
      <h1 class="projects-header">Projects</h1>
      <div class="projects-slides">
        <div class="projects-slides-info">
          <ul class="projects-slides-info-techlist">
            <li class="projects-slides-info-techlist-item">#react</li>
            <li class="projects-slides-info-techlist-item">#js</li>
            <li class="projects-slides-info-techlist-item">#node js</li>
            <li class="projects-slides-info-techlist-item">#git</li>
          </ul>
          <h2 class="projects-slides-info-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h2>
          <button class="projects-slides-info-button">See project</button>
        </div>
        <div class="projects-slides-pictures">
          <img class="projects-slides-pictures-img" src="" alt="" />
        </div>
      </div>
      <div class="projects-buttons">
        <button class="projects-button-left"></button>
        <button class="projects-button-right"></button>
      </div>
    </div>
  </div>
</section>
