<section id="projects">
  <div class="container">
    <div class="projects-container">
      <h2 class="projects-header">Projects</h2>
      <div class="projects-slides">
        <div class="projects-slides-info">
          <ul class="projects-slides-info-techlist">
            <li class="projects-slides-info-techlist-item">#react</li>
            <li class="projects-slides-info-techlist-item">#js</li>
            <li class="projects-slides-info-techlist-item">#node js</li>
            <li class="projects-slides-info-techlist-item">#git</li>
          </ul>
          <p class="projects-slides-info-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <a href="https://github.com/Mykkolas/project-tryzub" target="_blank">
            <button class="projects-slides-info-button">See project</button>
          </a>
        </div>
        <div class="projects-slides-pictures">
          <picture>
            <source
              srcset="
                ..\img\projects\projects-slide1-desk-1x.jpg 1x,
                ..\img\projects\projects-slide1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ..\img\projects\projects-slide1-tab-1x.jpg 1x,
                ..\img\projects\projects-slide1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ..\img\projects\projects-slide1-mob-1x.jpg 1x,
                ..\img\projects\projects-slide1-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="projects-slides-pictures-img"
              src="..\img\projects\projects-slide1-desk-1x.jpg"
              alt="slide 1"
            />
          </picture>
        </div>
      </div>
      <div class="projects-buttons">
        <button class="projects-button-left">
          <svg class="projects-button-left-svg">
            <use href="..\img\arrow-right.svg"></use>
          </svg>
        </button>
        <button class="projects-button-right">
          <svg class="projects-button-right-svg">
            <use href="..\img\arrow-right.svg"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
