<section id="reviews">
  <div class="container reviews-container">
    <h2 class="review-header">REVIEWS</h2>
    <div class="swiper reviews-swiper">
      <ul class="swiper-wrapper reviews-list"></ul>
    </div>
    <div class="buttons">
      <button class="prev-btn swiper-button-prev">
        <svg width="32" height="32">
          <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button class="next-btn swiper-button-next">
        <svg width="32" height="32">
          <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
