.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


@media screen and (min-width: 1440px){
    .intro{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}

.intro-text{
    border-radius: 24px;
width: 343px;
height: 500px;
background: #242527;
}

@media screen and (min-width: 768px){
     .intro-text{
        width: 680px;
        height: 700px;
}
}

.text{
    font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #fafafa;
padding: 32px 32px 272px 32px;
margin: 0 auto;
}

@media screen and (min-width: 768px){
    .text{
font-size: 38px;
line-height: 105%;
padding: 64px 64px 463px 64px;
    }
}

.highlight{
    color: #ed3b44;
}

.highlight-web{
    color: rgba(250, 250, 250, 0.4);
}

.intro-image{
  width: 343px;
  height: 500px;
}

@media   screen and (min-width: 768px) {
  .intro-image{
 width: 680px;
 height: 700px;
}
}

.img-tab,
.img-desk{
    display: none;
}

@media   screen and (min-width: 768px) {
    .img-mob,
.img-desk{
    display: none;
}

.img-tab{
    display: flex;
}
}

@media   screen and (min-width: 1440px){
    .img-mob,
    .img-tab{
        display: none;
    }
    
    .img-desk{
        display: flex;
    }
}


/* Стилі для елементів аккордеону */

.about-content{
  display: none;
}

.accordion-item.is-open .about-content {
  display: block;
}

.accordion .accordion-item {
  overflow: hidden;
  transition: height 0.4s ease;  /* Анімація зміни висоти */
}

.accordion .accordion-item.is-open .accordion-content {
  height: auto; /* Висота розкритого елементу */
}

.accordion .accordion-item:not(.is-open) .accordion-content {
  height: 0; /* Висота закритого елементу */
}


.accordion-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    padding-bottom: 32px;
    padding-top: 20px;
  }
  
  .accordion-header {
    cursor: pointer;
  }
  
  .text-header {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .about-content {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
    padding-bottom: 32px;
  }


  .accordion-toggle {
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 100px;
padding: 9px;
width: 36px;
height: 36px;
  }


.accordion-icon{
  color: #fafafa;
}
  
  .accordion-toggle .accordion-icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .accordion-item.is-open .accordion-toggle .accordion-icon {
    transform: rotate(-180deg);
  }
  

  


/* Загальні стилі для слайдера */


/* Слайди */
.skills-sld {
  overflow: hidden;
}



.span-swiper{
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.swiper-slides{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 130px;
  padding: 53px 29px;
  border-radius: 100px;
border: 1px solid rgba(250, 250, 250, 0.2);
}

.swiper-slides:nth-child(1) { /* Перший слайд */
  background-color: red; 
}
.swiper-slides:nth-child(2) { /* Другий слайд */
  background-color: transparent;
}

.swiper-btn-next{
  margin-left: 55px;
   background: transparent;
}

 
.arrow{
  font-size: 2em;
  color: #3b3b3b;
}