.section-covers {
    max-width: 375px;
    margin: 0 auto;
}

.row-reversed {
    flex-direction: row-reverse;
}

.slides-container {
    overflow: hidden;
    width: 100%;
    backdrop-filter: blur(30px);
    background-image: url(/img/covers/mobile-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 508px;
}

.sliding-row,
.row-reversed {
    transform: rotate(17deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
}



.sliding-row img {

    width: 282px;
    height: 162px;
    animation-name: negativeMove;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin-right: 20px;
    margin-bottom: 25px;
    animation-direction: alternate;
}

.row-reversed img {
    width: 282px;
    height: 162px;
    animation-name: positiveMove;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right: 20px;
    margin-bottom: 25px;
}





@media screen and (min-width: 768px) {
    .section-covers {
        max-width: 768px;
    }

    .slides-container {
        height: 960px;
        background-image: url(/img/covers/tablet-background.png);
    }

    .sliding-row img {
        margin-right: 40px;
        margin-bottom: 50px;
        width: 544px;
        height: 314px;
    }

    .row-reversed img {
        margin-right: 40px;
        margin-bottom: 50px;
        width: 544px;
        height: 314px;
    }
}

@media screen and (min-width: 1440px) {
    .section-covers {
        max-width: 1440px;
    }

    .slides-container {
        background-image: url(/img/covers/desktop-background.png);
    }
}


/* ANIMATIONS */

@keyframes negativeMove {
    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(-200%);
    }
}

@keyframes positiveMove {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(200%);
    }
}

.sliding-row img,
.row-reversed img {
    animation-play-state: paused;
}