.inner-container {
    width: 100%;
    height: auto;
    /* background-image: url('../img/footer/glas-1x.jpg'); */
}

.footer-section {
    padding-bottom: 32px;
}

.send-btn {
    margin-top: 16px;
    margin-bottom: 74px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ED3B44;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
}

.logo-img {
    width: 44px;
    height: 44px;
    border-radius: 12px;
}

.bottom {
    width: 300px;
    height: 37px;
    height: auto;
}

.phone-a,
.email-a {
    border: 1px solid rgba(250, 250, 250, 0.2);
    padding: 10px 12px;
    border-radius: 60px;
    font-size: 12px;
    font-weight: 500;
    color: #FAFAFA;
}

.form-api {
    padding-top: 63px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

input::placeholder {
    color: rgba(250, 250, 250, 0.6);
}

input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    padding-bottom: 20px;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top {
    display: flex;
    gap: 8px;
}

.top h2,
.together {
    font-size: 40px;
    font-weight: 500;
    color: #FAFAFA;
}

.top h2 span {
    color: #ED3B44;
}


/* MODAL */
.modal {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;
    width: 343px;
    height: 276px;
    background-color: #1C1D20;
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    width: 22px;
    height: 22px;
    color: #FAFAFA;
    background-color: transparent;
}

body.modal-open {
    overflow: hidden;
}

.modal-inside {
    width: 279px;
    height: 148px;
}

.modal h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FAFAFA;
}

.modal p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

/* MODAL */

.email-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 15px;
}


@media screen and (min-width: 768px) {
    .footer-section {
        padding-bottom: 0;
    }

    .email-container {
        width: 245px;
        margin-bottom: 0;
    }

    .inner-container {
        padding-bottom: 169px;
    }

    .form-api {
        flex-direction: row;
        gap: 32px;
        justify-content: center;
        align-items: center;
        padding-bottom: 18px;
    }

    .logo-img {
        width: 70px;
        height: 70px;
        border-radius: 24px;
    }

    .top h2,
    .together {
        font-size: 64px;
    }

    .top {
        gap: 20px;
    }

    .phone-a,
    .email-a {
        padding: 18px 32px;
        font-size: 16px;
    }

    .bottom {
        width: 500px;
    }

    .send-btn {
        width: 150px;
        height: 150px;
        margin-bottom: 0;
        margin-top: 0;
    }

    input {
        width: 245px;
        height: 44px;
    }

    /* MODAL */

    .modal {
        padding: 64px;
        width: 492px;
        height: 246px;
    }

    .modal-inside {
        width: 364px;
        height: 118px;
    }

    .modal p {
        padding-top: 16px;
    }


    /* MODAL */
}

@media only screen and (min-width: 1440px) {
    .container {
        padding: 0 196px;
    }

    .email-container {
        width: 390px;
    }

    input {
        width: 390px;
    }

    .form-api {
        gap: 32px;
        padding-bottom: 24px;
        justify-content: flex-start;
    }

    .send-btn {
        margin-left: 54px;
    }
}


/* HOVERS  AND STATES*/

.phone-a:hover,
.phone-a:active,
.email-a:hover,
.email-a:active {
    border-color: rgba(250, 250, 250, 0.8);
    color: #FFFFFF;
}

.email-input:hover,
.email-input:focus,
.comment-input:hover,
.comment-input:focus {
    border-color: rgba(250, 250, 250, 0.8);
}

.email-input:hover::placeholder,
.email-input:focus::placeholder,
.comment-input:hover::placeholder,
.comment-input:focus::placeholder {
    color: #FFFFFF;
}

.send-btn:hover,
.send-btn:focus {
    background-color: #E0373F;
}


.email-input.success {
    border-bottom: 1px solid #4CAF50;
}

.email-input.error {
    border-bottom: 1px solid #ED3B44;
}

.status-span {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: red;
    display: none;
    width: 100%;
    padding-top: 5px;
    white-space: nowrap;
}