@import url('./base.css');
@import url('./container.css');
@import url('./reset.css');
@import url('../fonts/fonts.css');

/* Styles for partials */

@import url('./aboutme.css');
@import url('./footer.css');
@import url('./benefits.css');
@import url('./reviews.css');
@import url('./hero.css');